body {
    font-family: "Roboto", sans-serif;
    background-color: #eef9bf;
} 
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo h1 {
    color:#75B79E;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-top: 40px;
}
.jogo-da-memoria {
    margin-left: 122px;
    margin-right: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.carta {
    margin-top: 34px;
    width: 200px;
    height: 250px;
    position: relative;
    
  }

  .face-card {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 13px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }
  .carta img {
    width: 100px;
    height: 100px;
  }

  .back-card {
    transform: rotateY(180deg);
  }

  .girar .back-card{
    transform: rotateY(0deg);
  }

  .girar .front-card {
    transform: rotateY(-180deg);  
  }
  .timer {
    color:#75B79E;
    font-size: 56px;
    position: absolute;
    top: 40px;
    right: 30px;
  }
 
  
  @media (max-width: 614px){
    .jogo-da-memoria {
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    .titulo h1 {
        width: 400px;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        text-align: center;
    }
    .timer {
      top: 80px;
      right: 15px;
      font-size: 40px;
    }
  }
  @media (max-width: 391px){
    .jogo-da-memoria {
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    .titulo h1 {
        width: 312px;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
    }
    .timer {
      top: 80px;
      font-size: 36px;
      right: 15px;
    }
  }